.searchList{
width: 500px;
display: flex;
margin: auto;
margin-top: 1rem;
flex-direction: column;
justify-content: center;
background-color:white;

box-shadow: 0px 0px 8px #ddd;
max-height: 400px;


}
.container{
  display: flex;
  flex-direction: column;
  padding-left: 3%;
  overflow: hidden;
  overflow-y: scroll;
  border-radius: 10px;


}
.category{
    padding-bottom: 10px;
    margin-top: 5px;
}
 .category h2{
    color: rgb(10, 10, 9);
 }
 .listBtn{
    padding: 5px;
    font-size: 15px;
    background-color: gold;
    font-weight: 500;
    cursor: pointer;
    border: 1px solid gold;
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
    border-radius: 5px;
    margin-top: 10px;
 }
 .listBtn:hover{
    background-color: black;
    color: gold;
 
 }
 ul{
    display: flex;
    flex-direction: column;
    padding-bottom: 8px;
 }
 li{
    cursor: pointer;
   
 }

 .listLink{
    color: black;
    font-family: 'Courier New', Courier, monospace;
 }
 .listLink:hover{
    color: rgb(136, 117, 11);
    box-shadow: #ddd;
    font-size: 18px;
    font-weight: 600;
 }

@media screen and (max-width :720px) {
    
    .searchList{
        background-color: aliceblue;
        width: 100%;

       
        
    }
}
@media screen and (max-width :768px) {
    
    .searchList{
        background-color: aliceblue;
        width: 100%;
        
    }
}
@media screen and (max-width :375px) {
    
    .searchList{
        background-color: aliceblue;
        width: 250px;
        max-height: 350px;

        
    }
    li{
        font-size: 15px;
       
     }
     .category h2{
        font-size: 15px;
     }
}