
.Profile{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    position: absolute;
    background: url("../../images/josue-as-_nprTIIwSk4-unsplash.jpg");
    background-size: cover;
    background-position: center;

    
}
.infro{
    margin-left: 20px;
    text-align: center;
    font-size: large;
    font-weight: 700;

}
.mainProfile{
    padding-top: 25px;
    background-color: white;
    position: absolute;
    flex-wrap: wrap;
    z-index: 1;
    width: 600px;
    max-height: 700px;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    margin-top: 50px;
    border-radius:8px ;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
.imgProfile {
    height: 300px;
    border-radius: 5px;
}
.imagpro{
    height: 300px;
    border-radius: 5px;
    width: auto;

}

@media screen and (max-width : 718px) {

    .mainProfile{
        max-width: 400px;
        max-height: 600px;
        padding-left: 10%;
        padding-right: 10%;
    }
    .imagpro{
        height: 200px;
        border-radius: 5px;
    }
}
@media screen and (max-width : 414px) {

    .mainProfile{
        max-width: 300px;
        max-height: 500px;
        padding-left: 10%;
        padding-right: 10%;
    
    }
    .imagpro{
        height: 150px;
        border-radius: 5px;
    }
    .infro{
        margin-left: 20px;
        text-align: center;
        font-size: 12px;
        font-weight: 700;
    
    }
}