body{
    background: none;
}
.Profile{
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    position: absolute;
    background: url("../../images/pexels-mareesettons-4719340.jpg");
    background-position: center;
    background-size: cover;

    margin: auto;

}
.proH1{
    padding-bottom: 10px;
}
.infro{
    padding: 10px 0;
    margin-left: 20px;
    text-align: center;
    font-size: large;
    font-weight: 700;

}
.mainProfile{

    padding-top: 25px;
    background-color: white;
    position: absolute;
    flex-wrap: wrap;
    z-index: 1;
    padding: 2%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 6rem;
    border-radius:8px ;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}

.imagpro{
    height: 300px;
    border-radius: 5px;
    width: auto;

}

@media screen and (max-width : 718px) {

  
    .imagpro{
        height: 200px;
        border-radius: 5px;
    }
}
@media screen and (max-width : 414px) {

 
    .imagpro{
        height: 150px;
        border-radius: 5px;
    }
    .infro{
        margin-left: 20px;
        text-align: center;
        font-size: 12px;
        font-weight: 700;
    
    }
}