
.catagories{
    
   min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../../images/pexels-mareesettons-4719340.jpg');
     background-size: cover;
    position: absolute;
}

.main_cat{
    width: 100%;
position: absolute;
height: 100vh;
display: flex;
flex-direction: column;
opacity: 0;
animation: fadeInAnimation 1s ease-in forwards;
z-index: 2;


}

.createBtn{
    display: flex;
    padding: 10px 20px 10px 20px;
    margin-top: 80px;
    background-color: gold;
    margin-right: 8px;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    margin-left: auto;
    margin-right: 5rem;
    align-items: center;
    z-index: 2;
    margin-bottom: 8px;

}

.btnactiv{
    display: none;
}
.createBtn:hover{
   
    background-color: black;
    color: gold;
  
}
@media screen and (max-width: 894px) {
    .categoreis{
position: absolute;
    }
    .main_cat{
        display: flex;
        width: 100%;
        align-items: end;
        }
}
